<nav >
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2 " style="text-align : center">
        <h3>Wazirx Changes</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <button class="btn btn-primary">Prev coin</button>
      </div>
      <div class="col-9">

      </div>
      <div class="col">
        <button class="btn btn-primary float-right" >Next coin</button>
      </div>
    </div>
  </div>
  <app-main-page></app-main-page>
</nav>
